body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: auto;
    padding: inherit;

}
header {
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: aquamarine;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

